
<div class="slide-box f-pr">
    <div class="inner f-h">
        <div class="hd f-pr">
            <h2 class="title f-tc">
                <i class="icon f-ib f-h"></i>
            </h2>
            <i class="line left f-pa"></i>
            <i class="line right f-pa"></i>
        </div>
        <div class="inner-tab f-pr f-w clearfix">
            <a href="javascript:void(0)"
                class="link f-ib"
                ng-repeat="item in innertabdata track by $index"
                ng-class="{'current': item.isActive}">
                {{item.name}}
            </a>
            <a href="javascript:void(0)"
                class="all f-ib f-pa">
                全部
                <i class="icon-arrow icon f-ib"></i>
            </a>
        </div>
        <div class="slide-wrapper f-pa" ng-mouseenter="enterEvent()" ng-mouseleave="leaveEvent()">

            <div class="slide-btn prev f-pa" 
            		ng-class="{'show-btn': isNeedSlideBtn}"
            		ng-click="slide1Prev()">
                <i class="arrow-left f-ib"></i>
            </div>
            <div class="slide-btn next f-pa" 
            		ng-class="{'show-btn': isNeedSlideBtn}"
            		ng-click="slide1Next()">
                <i class="arrow-right f-ib"></i>
            </div>
			
			<!-- swiper -->
            <div class="swiper-container swiper1-hook f-h">
                <div class="swiper-wrapper f-h f-pr">
                    <div class="swiper-slide f-h" ng-repeat="itemOut in slidelist">
                        <div class="box f-h f-w" ng-repeat= "item in itemOut">
                            <div class="cover f-w">
                                <a href="javascript:void(0)" class="f-w f-ib link f-pr">
                                    <img ng-src="{{item.url}}" class="pic" width="100%" height="100%">
                                    <i class="mask f-ib f-w"></i>
                                    <i class="icon-play f-ib f-pa"></i>
                                </a>
                            </div>
                            <div class="info f-w">
                                <h4 class="title f-w">
                                    <a href="javascript:void(0)"
                                       class="link f-ellipsis">
                                        {{item.title}}
                                    </a>
                                    <a href="javascript:void(0)"
                                       class="singername f-ellipsis ">
                                        {{item.singername}}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination f-w pagination1-hook" id="pagination1"></div>

        </div>
    </div>
</div>